/*-- scss:defaults --*/

/*-- $font-family-sans-serif: Fira Sans; --*/
$font-family-sans-serif: "Lato", sans-serif !default;
$presentation-font-size-root: 27px;
$presentation-font-smaller: 0.75;
$presentation-title-slide-text-align: center;