/*-- scss:defaults --*/

/*
.reveal h2 {
    background-color: rgba(236, 117, 36, 0.85);
    padding: 0px -200px 100px 0px !important;
    height: 60px;
    color: rgba(17, 70, 52, 0.85) !important;
} */

/*-- $font-family-sans-serif: Fira Sans; --*/
$font-family-sans-serif: "Lato", sans-serif !default;
$presentation-font-size-root: 27px;
$presentation-font-smaller: 0.75;
$presentation-title-slide-text-align: center;

// .callout {
//     margin-top: 1.25rem !important; /* 1.25rem by default */
//     margin-bottom: 1.25rem !important; /* 1.25rem by default */
//     border-bottom: 0.5rem !important;
// }