.semi-transparent-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: rgba(255, 255, 255, 0.85);  
}

.test h3 {
    text-align: center;
}

/* file: style.css */
.v-center-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 90% !important;
  }